@import './vars.scss';

.vacancy-container{
	position: relative;
    min-height: 478px;
    
	.vacancy{
	
		.vacancy__title{
			padding-bottom: 4px;
		    margin-bottom: 8px;
		    font-size: 1.5em;
		    color: #444;
		    word-break: break-all;
		    /* border-bottom: 2px solid #ccc; */
		}
		.vacancy__description{
			padding: 0;
		    margin: 0 -10px 24px 0;
		    font-size: 15px;
		    line-height: 18px;
		    overflow: hidden;
		    
			.vacancy__field-label{
				color: rgba(0, 0, 0, .5);
			    clear: both;
			    float: left;
			    width: 130px;
			    margin: 0 5px 10px 0;
			}
			.vacancy__field-value{
				float: left;
			    margin: 0 0 10px;
			    max-width: 162px;
			}
		}
		.vacancy__candidates{
			.vacancy__candidates-title{
				font-weight: 700;
			    font-size: 15px;
			    color: #999;
			    margin-bottom: 4px;
			    padding-bottom: 4px;
			    //border-bottom: 2px solid #19c78b;
			    display: inline-block;
			}
			.vacancy__candidates-list{
				.vacancy__candidate{
					font-size: 1.2em;
					border-bottom: 1px solid #ccc;
					padding: 8px 0;
					
					.vacancy__candidate-link{
						display: block;
			    		border-left: 2px solid transparent;
			    		
			    		&:hover {
							background-color: $hover-color;
							border-left: 2px solid $light-primary-color;
						}
			    		
			    		.vacancy__candidate-fullname{
			    			color: #444;
	    					word-break: break-all;
			    		}
			    		
						.vacancy__candidate-icon{
							float: left;
							margin-right: 2px;
			    			color: $icons-color;
			    			line-height: 25px;
						}
						.vacancy__candidate-dates{
							font-size: 14px;
	    					color: #999;
						}
						.vacancy__candidate-status{
							font-size: 14px;
							color: #999;
						}
						.vacancy__candidate-additional{
							float: right;
							font-size: 14px;
	    					color: #999;
							.vacancy__candidate-additional-comment-icon{
								margin-right: 2px;
	    						color: $icons-color;
							}
						}
					}
				}
			}
		}
	}	
}
