@import './vars.scss';

.vacancies-container{
	.vacancies-container__up-icon{
		position: fixed;
		bottom: 50px;
		right: 20%;
		color: #fff;
		background-color: #ff5252;
		line-height: 50px;
		width: 50px;
		height: 50px;
		text-align: center;
		border-radius: 50%;
		cursor: pointer;
		font-weight: 700;
		font-size: 24px;
		opacity: 0;
		z-index: 100;
		transition: opacity 0.2s linear 0s;
		
		&.vacancies-container__up-icon--show {
			opacity: .7;
		}
	}
	.vacancies-container__header{
		margin-bottom: 16px;
		
		.vacancies-container__filters{
			.vacancies-container__search-bar-container {
				display: inline-block;
				margin-right: 48px;
				
				.vacancies-container__search-bar{
					margin-right: 8px;
				}
				.vacancies-container__vacancys-count{
					position: absolute;
				    right: 8px;
				    color: #b6b6b6;
				    top: 50%;
				    transform: translateY(-50%);
				}
			}
			
			.vacancies-container__filters{
				display: inline-block;
				
				.vacancies-container__filter-status{
					margin-right: 16px;
				}
				.vacancies-container__sort{
					
				}
				
				
			}
		}
	}
	.vacancies-container__body{
		position: relative;
		min-height: 400px;
		
		.vacancies{
			.vacancies__vacancy{
				padding: 8px 0px;
				border-bottom: 1px solid #ccc;
				
				&:focus {
					background-color: red;
				}
				
				.vacancies__link{
					display: block;
					padding: 0 8px;
					border-left: 2px solid transparent;
					
					&:hover{
						border-left: 2px solid $light-primary-color;
						background-color: $hover-color;
					}
					
					.vacancies__title{
						margin-bottom: 4px;
					    font-size: 1.5em;
					    color: #444;
					    word-break: break-all;
					}
				}
				.vacancies__status, .vacancies__date{
					font-size: 14px;
    				color: #999;
				}
				.vacancies__additional{
					float: right;
					font-size: 14px;
    				color: #999;
    				
					.vacancies__candidates-count{
						.vacancies__candidates-icon{
							margin-right: 2px;
							color: $icons-color;
						}
					}
					.vacancies__comments-count{
						margin-left: 8px;
						.vacancies__comments-icon{
							margin-right: 2px;
							color: rgb(65, 131, 196);
						}
					}
				}
			}
		}
	}
	.vacancies-container__scroll-loading{
		position: relative;
		height: 50px;
	}
}

@media only screen and (max-width: 320px) {
	.vacancies-container__search-bar-container{
		margin-right: 0 !important;
		display: block !important;
		margin-bottom: 16px !important;
	}
	.vacancies-container__filters {
		display: block !important;
	}
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
	.vacancies-container__search-bar-container{
		margin-right: 0 !important;
		display: block !important;
		margin-bottom: 16px !important;
	}
	
	.vacancies-container__filters {
		display: block !important;
	}
}

//